<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input
            type="text"
            name="keyword"
            class="form-control"
            placeholder="輸入餐廳、分類"
            aria-label="Restaurant Name..."
            value="{{keyword}}"
            aria-describedby="search-button"
          />
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i
                class="fas fa-search"
              ></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 如果無搜尋結果，顯示下方資訊並推薦三間餐廳  -->
{{#if noResults}}
  <h1 class="ms-5 mt-5">找不到有關
    <span style="color:red;">{{keyword}}</span>
    的餐廳</h1>
  <h2 class="ms-5">你可能會對以下餐廳有興趣 : </h2>
{{/if}}

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        <!-- 在這跑回圈顯示資料 -->
        {{#each restaurants}}
          <div class="row">
            <a href="/restaurants/{{this._id}}" class="text-secondary">
              <div class="card mb-3">
                <img
                  class="card-img-top"
                  src="{{this.image}}"
                  alt="{{this.name}}"
                />
                <div class="card-body p-3">
                  <h6 class="card-title mb-1">{{this.name}}</h6>
                  <div class="restaurant-category mb-1">
                    <i class="fas fa-utensils pr-2"></i>
                    {{this.category}}
                  </div>
                  <span
                    class="badge badge-pill badge-danger font-weight-normal rating"
                  >
                    {{this.rating}}
                    <i class="fas fa-star fa-xs"></i>
                  </span>

                </div>

              </div>
            </a>
            <div class="d-flex justify-content-end align-items-center operate">
              <a href="/restaurants/{{this._id}}" class="me-2">Detail</a>
              <a href="/restaurants/{{this._id}}/edit" class="me-2">Edit</a>
              <form
                action="/restaurants/{{this._id}}?_method=DELETE"
                method="POST"
                style="display: inline;"
              >
                <button
                  type="submit"
                  class="btn btn-danger"
                  style="height: 2rem;"
                >
                  Delete
                </button>
              </form>
            </div>
          </div>
        {{/each}}
        <div class="row">
          <div class="card mb-3 create-restraurant">
            <a href="/restaurants/create" class="text-secondary" id="create-link">Create new
              restaurant</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>